<div>
    @if (Echoes == null)
    {
        <Loading />
    }
    else
    {
        <div class="gallery-thumbnail-container">
            @foreach (var echo in Echoes.Select((value, index) => new { value, index }))
            {
                <div class="gallery-thumbnail">
                    <img src="@echo.value.ThumbnailUrl" alt="@echo.value.AltText" @onclick="() => ShowCarousel(echo.index)" />

                    @if (IsWizardOverLord)
                    {
                        <div class="menu-buttons-container">
                            <div class="menu-button delete-button" @onclick="() => OpenShatterModal(echo.value)">
                                <div class="x-part"></div>
                                <div class="x-part"></div>
                            </div>

                            <div class="menu-button edit-button" onclick="preventParentLink(event)">
                                <div class="dots">
                                    <div class="dot"></div>
                                    <div class="dot"></div>
                                    <div class="dot"></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <ShatterEchoModal @ref="ShatterEchoModalRef">
                    <div>
                        Shatter this Echo?
                        @if (EchoToShatter.Name != null && EchoToShatter.Name != "")
                        {
                            <br />
                            <span class="echo-name">@EchoToShatter.Name</span>
                        }
                        <button @onclick="ShatterEchoModalRef.Hide">Preserve</button>
                        <button @onclick="async () => await ShatterEcho()">Shatter</button>
                    </div>
                </ShatterEchoModal>
            }
        </div>

        <div id="echo-viewer-control" class="carousel full-screen slide echo-viewer-data-gallery @GetCarouselClasses()" data-ride="carousel">
            <div class="carousel-inner">
                @foreach (var echo in Echoes.Select((value, index) => new { value, index }))
                {
                    <div class="carousel-item @(ActiveEchoIndex == echo.index ? "active" : "")">
                        <img class="d-block w-100" src="@echo.value.ImageUrl" alt="@echo.value.AltText">
                    </div>
                }
                <div class="menu-button x-button close-gallery" @onclick="HideCarousel">
                    <div class="x-part"></div>
                    <div class="x-part"></div>
                </div>

            </div>
            <a class="carousel-control-prev" href="#echo-viewer-control" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <a class="carousel-control-next" href="#echo-viewer-control" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
        </div>
    }
</div>