@using PaleBazaar.MechanistTower.Entities
@using PaleBazaar.MechanistTower.SpellChanters

@inject IEchoChanters EchoChanters

@code {
    [Parameter] public List<Echo> Echoes { get; set; }
    [Parameter] public int ActiveEchoIndex { get; set; }
    [Parameter] public EventCallback<int> OnEchoEvocation { get; set; }
    [Parameter] public bool IsWizardOverLord { get; set; }
    private Echo EchoToShatter;
    private bool IsCarouselVisible = false;

    private string GetCarouselClasses()
    {
        return IsCarouselVisible ? "full-screen" : "hide-me full-screen";
    }

    private void ShowCarousel(int index)
    {
        ActiveEchoIndex = index;
        IsCarouselVisible = true;
    }

    private void HideCarousel()
    {
        IsCarouselVisible = false;
    }

    private async Task ShatterEcho()
    {
        await EchoChanters.ShatterEcho(
            EchoToShatter.Id,
            EchoToShatter.PartitionKey,
            EchoToShatter.FileName,
            EchoToShatter.ThumbnailFileName);
    }
}

<div>
    @if (Echoes == null)
    {
        <Loading />
    }
    else
    {
        <div class="gallery-thumbnail-container">
            @foreach (var echo in Echoes.Select((value, index) => new { value, index }))
            {
                <div class="gallery-thumbnail">
                    <img src="@echo.value.ThumbnailUrl" alt="@echo.value.AltText" @onclick="() => ShowCarousel(echo.index)" />

                    @if (IsWizardOverLord)
                    {
                        <div class="menu-buttons-container">
                            <div class="menu-button delete-button" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal-@echo.value.Id" onclick="preventParentLink(event)">
                                <div class="x-part"></div>
                                <div class="x-part"></div>
                            </div>

                            <div class="menu-button edit-button" onclick="preventParentLink(event)">
                                <div class="dots">
                                    <div class="dot"></div>
                                    <div class="dot"></div>
                                    <div class="dot"></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="modal fade" id="deleteConfirmationModal-@echo.value.Id" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                Shatter this Echo?
                                @if (echo.value.Name != null && echo.value.Name != "")
                                {
                                    <br />
                                    <span class="echo-name">@echo.value.Name</span>
                                }

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Preserve</button>
                                <button type="button" class="btn btn-danger" @onclick="async () => { EchoToShatter = echo.value; await ShatterEcho(); }" data-bs-dismiss="modal">Shatter</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div id="echo-viewer-control" class="carousel slide echo-viewer-data-gallery @GetCarouselClasses()" data-ride="carousel">
            <div class="carousel-inner">
                @foreach (var echo in Echoes.Select((value, index) => new { value, index }))
                {
                    <div class="carousel-item @(ActiveEchoIndex == echo.index ? "active" : "")">
                        <img class="d-block w-100" src="@echo.value.ImageUrl" alt="@echo.value.AltText">
                    </div>
                }
                <div class="menu-button x-button close-gallery" @onclick="HideCarousel">
                    <div class="x-part">X</div>
                    <div class="x-part"></div>
                </div>

            </div>
            <a class="carousel-control-prev" href="#echo-viewer-control" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#echo-viewer-control" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    }
</div>
